
@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Coiny);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Spicy+Rice);
@import url(https://fonts.googleapis.com/css?family=Staatliches);

/* ===================================
General Styling
====================================== */
body {
  padding: 2rem;
  font-family: sans-serif;
  font-size: 100%;
  /*background-color: ;*/
}

a {

}

a:hover {

}

/* ===================================
Chart Header
====================================== */
 h1#chart-header {
   font-size: 150%;
   /*margin-bottom: 0;*/
   /*margin-top: 0;*/
   font-family: 'Staatliches', cursive;
   font-family: 'Coiny', cursive;
   font-family: 'Slabo 27px', serif;
   font-family: 'Acme', sans-serif;
   font-family: 'Shrikhand', cursive;
   font-family: 'Courgette', cursive;
   font-family: 'Spicy Rice', cursive;
 }

 /* ===================================
Chart
====================================== */
  svg {
  /* To make responsive, in concert with viewBox="0 0 900 2400" */
  /* see svg with viewBox in BarChart.js */
  height: 90%;
  width: 90%;
}

.axis--x path {
  /*display: none;*/
}

.grid .tick {
    /*stroke: rgba(232,232,243,1);*/
    opacity: 0.2;
}
.grid path {
      /*stroke-width: 0;*/
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 80%;
  position: absolute;
  background-color: rgba(242, 242, 242, .95);
  border-radius: 5px;
  /*border: 3px solid red;*/
  padding: 14px;
  text-align: left;
  display: none; /* Keep. This hides the tooltip at initial load */
}

h4 {
  font-size: 120%;
}

ul {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

li {
  line-height: 1px;
  padding-left: 0;
}

/* ===================================
Footer
====================================== */

footer {
  font-size: 60%;
}
