
@import url();
@import url();

/* ===================================
General Styling
====================================== */
.sidebar-container {

}

body {
  padding: 2rem;
  font-family: sans-serif;
  font-size: 100%;
  /*background-color: ;*/
}

a {

}

a:hover {

}




/* ===================================
Chart
====================================== */
 h1 {
   font-size: 100%;
 }

  svg {
  /* To make responsive, in concert with viewBox="0 0 900 2400" */
  /* see svg with viewBox in BarChart.js */
  /*margin: 3rem;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*background-color: pink;*/
  /*border: 3px solid pink;*/
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

line#indicator-line {
  stroke: red;
  stroke-width: 1;
  stroke-dasharray: 6 6;
}

.axis--x path {
  /*display: none;*/
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
}
.grid path {
      /*stroke-width: 0;*/
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 80%;
  position: absolute;
  background-color: rgba(242, 242, 242, .95);
  border-radius: 5px;
  border: 3px solid red;
  padding: 14px;
  text-align: left;
  display: none; /* Keep. This hides the tooltip at initial load */
}

h4 {
  font-size: 120%;
}

ul {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

li {
  line-height: 1px;
  padding-left: 0;
}

/* ===================================
Footer
====================================== */

footer {
  font-size: 60%;
}
