
@import url(https://fonts.googleapis.com/css?family=Staatliches);

/*Color Palet*/
/*#1a3c51   green/blue*/
/*#000033 dark blue*/
/*#4d0000 marroon */

/* ===================================
General Styling
====================================== */
body {
  /*padding: 1.5rem;*/
  /*font-family: 'Acme', sans-serif;*/
  font-size: 100%;
  /* dark theme */
  background-color: #122c3b;
  background-color: rgba(8, 21, 40, 1);
  background-color: rgba(38, 38, 38, 1);
  color: rgba(255, 255, 255, .75);  /* white */


  /*background: #F7C1C1;*/
}

a {

}

a:hover {

}

/* =================================
Sidebar
==================================== */
.sidebar {
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1.5rem .5rem 0 1rem;
  background-color: rgba(0, 0, 0, .2);
  background-color: #1a1a1a;
  /* dark theme
  /* background-color: ;*/
}

 h1#header {
   font-size: 150%;
   margin: 0 0 1rem 0;
   font-family: 'Staatliches', cursive;
   text-shadow: 3px 1px 0px rgba(0,0,0,1);
   text-shadow: 3px 1px 0px #9B0B08;
   color: rgba(255, 191, 128, 1);
   color: #ffffff;
/*background: #F7C1C1;*/
text-shadow: 4px 3px 0px #7A7A7A;

   /* dark theme */
   /*color: ;*/
 }

svg#legend-sidebar {
  /*border: 1px solid red;*/
}

text.legend-text {
  font-size: 90%;
  font-family: sans-serif;
  /* remember, it's an SVG so use fill instead of color*/
  fill: rgba(255, 255, 255, .65);
  fill: rgba(255, 255, 255, .55);  /* white */
}

.sidebar-text, .sidebar-link{
  font-size: 80%;
  line-height: 1.3;
}


ul {
  font-size: 80%;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

li {
  line-height: 1rem;
  padding-left: 0;
}


/* ===================================
Chart
====================================== */
svg#chart {
  /* To make responsive, in concert with viewBox="0 0 900 2400" */
  /* see svg with viewBox in BarChart.js */
  height: 90%;
  width: 100%;
  padding: 0 0 2rem 1rem;
}

.axis--x path {
  /*display: none;*/
}

.grid .tick {
  opacity: 0.2;
}

.grid path {
      /*stroke-width: 0;*/
}

.x-scale {
  font-weight: bold;
}

text.left-chart-label {
  /* It's an SVG so use fill instead of color*/
  fill: rgba(255, 255, 255, .65);
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 80%;
  position: absolute;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 5px;
  /*border: 3px solid white;*/
  padding: 14px;
  text-align: left;
  width: 300px;
  display: none; /* Keep. This hides the tooltip at initial load */
}









/* ===================================
Footer
====================================== */

footer {
  font-size: 60%;
  position: absolute;
  right: 2rem;
  /*bottom: 1rem;*/
}
