
@import url(https://fonts.googleapis.com/css?family=Staatliches);
@import url(https://fonts.googleapis.com/css?family=Jaldi);


/* ===================================
General Styling
====================================== */
body {
  /*padding: 1.5rem;*/
  background-color: rgba(38, 38, 38, 1);
  color: rgba(255, 255, 255, .8);  /* white */
  font-family: 'Jaldi', sans-serif;
  /*font-size: 100%;*/
}

a {
  color: rgba(255, 255, 255, .75);  /* white */
  text-decoration: underline;
}


/* =================================
Sidebar
==================================== */
aside {
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 1.5rem .5rem 0 1rem;
  background-color: #1a1a1a;
}

h1#header {
  font-size: 150%;
  margin: 0 0 1.5rem 0;
  font-family: 'Staatliches', sans-serif;
  color: #ffffff;
  text-shadow: 4px 3px 0px #7A7A7A;
}

svg#legend-sidebar {

}

text.legend-text {
  font-family: sans-serif;
  font-family: 'Jaldi', sans-serif;
  /* remember, it's an SVG so use fill instead of color for text color */
  fill: rgba(255, 255, 255, .80);
}

.sidebar-text, .sidebar-link{
  line-height: 1.3;
}

h2 {
  font-family: 'Staatliches', sans-serif;
  font-size: 110%;
}

hr {
  background-color: rgba(255, 255, 255, .20);  /* white */
  width: 80%;
}

ul {
  font-size: 100%;
  margin-left: 0;
  padding-left: 1rem;
}

li {
  line-height: 1rem;
  padding-left: 0;
}


/* ===================================
Chart
====================================== */
svg#chart {
  padding: 3rem 0;
  /* The height & widht rules are to make the chart responsive,
     in concert with viewBox="0 0 900 550" */
  /* see svg with viewBox in Chart.js */
  height: 100%;
  width: 100%;
}

.axis--x path {
  /*display: none;*/
}

.grid .tick {
  opacity: 0.2;
}

.grid path {
  /*stroke-width: 0;*/
}

.x-scale {
  font-weight: bold;
}

text.left-chart-label {
  /* It's an SVG so use fill instead of color*/
  fill: rgba(255, 255, 255, .65);
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 90%;
  position: absolute;
  background-color: rgba(0, 0, 0, .95);
  /*border-radius: 5px;*/
  border: 1px solid rgba(255, 255, 255, .20);
  padding: 14px;
  text-align: left;
  width: 300px;
  display: none; /* Keep. This hides the tooltip at initial load */
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

p#comment {
  font-size: 1rem;
  margin-top: .5rem;
}

/* ===================================
Footer
====================================== */
footer {
  font-size: 80%;
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}

.footer-website-link {
  text-decoration: none;
  margin-right: .5rem;
}


.footer-website-link:hover,
.footer-github-link:hover {
  color: rgb(111, 117, 170);
  text-decoration: none;
}

/* SMALL ********************/
@media screen and (max-width: 700px) {

  body {
    padding: .5rem;
    background-color: #1a1a1a;
  }

  aside {
    /*display: inline-block;*/
    height: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    /*font-size: 110%;*/
  }

  h1#header {
    font-size: 155%;
    text-align: center;
    margin: 0 0 0 0;
  }

  h2 {
    font-size: 140%;
    text-align: center;
  }

  svg#chart {
    padding: .5rem 0 3rem .5rem;
  }

  text.left-chart-label {
    font-size: 220%;
  }

  g.tick {
    font-size: 170%;
  }


}



