
@import url(https://fonts.googleapis.com/css?family=Staatliches);



/* ===================================
General Styling
====================================== */
body {
  /*padding: 1.5rem;*/
  font-size: 100%;
  background-color: rgba(38, 38, 38, 1);
  color: rgba(255, 255, 255, .75);  /* white */
}

a {
  color: rgba(255, 255, 255, .75);  /* white */
  text-decoration: underline;
}

a:hover {

}

/* =================================
Sidebar
==================================== */
.sidebar {
  height: 100vh;
  top: 0;
  left: 0;
  /*overflow-x: hidden;*/
  padding: 1.5rem .5rem 0 1rem;
  background-color: #1a1a1a;
}

 h1#header {
   font-size: 150%;
   margin: 0 0 1.5rem 0;
   font-family: 'Staatliches', sans-serif;
   color: #ffffff;
   text-shadow: 4px 3px 0px #7A7A7A;
 }

svg#legend-sidebar {
  /*border: 1px solid red;*/
}

text.legend-text {
  font-size: 80%;
  font-family: sans-serif;
  /* remember, it's an SVG so use fill instead of color*/
  fill: rgba(255, 255, 255, .55);
}

.sidebar-text, .sidebar-link{
  font-size: 80%;
  line-height: 1.3;
}

h2 {
  font-family: 'Staatliches', sans-serif;
  font-size: 90%;
}

hr {
  background-color: rgba(255, 255, 255, .20);  /* white */
  width: 80%;
}

ul {
  font-size: 80%;
  /*list-style-position: inside;*/
  margin-left: 0;
  padding-left: 1rem;
  /*list-style-type: none;*/
}

li {
  line-height: 1rem;
  padding-left: 0;
}




/* ===================================
Chart
====================================== */
svg#chart {
  /* To make responsive, in concert with viewBox="0 0 900 550" */
  /* see svg with viewBox in Chart.js */
  height: 100%;
  width: 100%;
  /*max-width: 1500px;*/
  padding: 0 0 2rem 0;
  /*border: 1px solid red;*/
}

.axis--x path {
  /*display: none;*/
}

.grid .tick {
  opacity: 0.2;
}

.grid path {
      /*stroke-width: 0;*/
}

.x-scale {
  font-weight: bold;
}

text.left-chart-label {
  /* It's an SVG so use fill instead of color*/
  fill: rgba(255, 255, 255, .65);
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 80%;
  position: absolute;
  background-color: rgba(0, 0, 0, .85);
  /*border-radius: 5px;*/
  border: 1px solid rgba(255, 255, 255, .20);
  padding: 14px;
  text-align: left;
  width: 300px;
  display: none; /* Keep. This hides the tooltip at initial load */
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

p#comment {
  margin-top: .5rem;
}

/* ===================================
Footer
====================================== */

footer {
  font-size: 70%;
  position: absolute;
  right: 2rem;
  bottom: .5rem;
}
